@import "bootstrap-variables";
@import "bootstrap-custom";

body {
	background-color: rgb(220,220,220);
}

#wrapper-all {
	/*position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;*/
}

#main {
	//background-color: #efefef;
}

canvas {
	width:100%;
	height:100%;
}

#image-wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	height:auto;
}

#canvas-wrapper {

}

#zoom-wrapper {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	
	&.active {
		overflow:scroll;
		//cursor:all-scroll;
	}
	#inner {
		
	}
}

#thumb-wrapper {

}